# Build Artifacts
/target/
*.class
*.jar
*.war
*.zip
*.log

# IDE Files
.idea/
*.iml
.classpath
.project
.settings/

# OS and Node
.DS_Store
/clothing-ui/node_modules

# H2 Database Files (Crucial to ignore these)
*/*.mv.db
*/*.trace.db
